<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= kindOfDay %>
        </h1>
    </div>
    <div class="box">
        <ul>
            <% newListItems.forEach(function(item){ %>
                <form action="/delete" method="POST">
                    <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit();">
                    <li>
                        <%= item.name %>
                    </li>
                    <input type="hidden" name="listName" value="<%= kindOfDay %>">
                </form>
                <% }); %>
        </ul>
        <form class="form box item" action="/" method="POST">
            <input class="inputAdd" type="text" name="newItem" placeholder="New Items">
            <button type="submit" name="list" id="submit" value="<%= kindOfDay %>">+</button>
        </form>
    </div>
</body>

</html>